.run-button {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.colab-logo {
    // stylelint-disable-next-line declaration-property-unit-whitelist
    height: (20em / 14);
    // Match color of the text
    fill: currentColor;
}
